#include "afxres.h"

IDI_ICON1 ICON "jk2mf.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,0,0,0
 PRODUCTVERSION 3,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "ouned"
            VALUE "FileDescription", "JK2MF"
            VALUE "FileVersion", "3.0"
            VALUE "InternalName", "jk2mf-clientside-win.exe"
            VALUE "LegalCopyright", "Copyright (C) 2014 ouned"
            VALUE "OriginalFilename", "jk2mf-clientside.exe"
            VALUE "ProductName", "JK2MF"
            VALUE "ProductVersion", "3.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
